.top-section .accordion-head {
  padding: 10px 0 !important;
}

.top-section .accordion-head span {
  font-size: 1rem;
}

.top-section.list-informasi {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .title h4 {
    line-height: 30px;
  }

  .top-section.list-informasi {
    margin-top: 0px;
  }

  .top-section.list-informasi .accordions {
    padding: 50px 20px;
  }
}
