/* gambar permohonan */
#permohonan .container .row .col-lg-3 .image {
  width: 100%;
  overflow: hidden;
  border: 6px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#permohonan .container .row .col-lg-3 .image img {
  width: 100%;
  object-fit: cover;
  transition: 0.2s ease-out;
  cursor: pointer;
}

#permohonan .container .row .col-lg-3 .image:hover img {
  transform: scale(1.1);
}

/* popup image */
#permohonan .popup-img {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 9999;
  display: none;
}

#permohonan .popup-img span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 9999;
}

#permohonan .popup-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 45%;
  object-fit: cover;
}

@media (max-width: 768px) {
  #permohonan .popup-img img {
    width: 90%;
  }
}
