:root {
  /* VALET COLOR */
  --kuning: #f4b700;
  --biru: #0e3b63;

  /* TYPOGRAPHY */
  --text-h1: 30px !important;
  --text-h2: 23px !important;
  --text-h3: 20px !important;
  --text-h4: 17px !important;
  --text-h5: 15px !important;
  --text-h6: 13px !important;

  --text-p: 13px !important;
  --text-lg: 15px !important;

  --lh-p: 20px !important;
  --lh-lg: 23px !important;
  --lh-xl: 30px !important;
}

@media (max-width: 1280px) {
  /* HERO CONTENT SECTION */
  #top .header-text h2 {
    font-size: 40px !important;
    line-height: 55px !important;
    margin: 0 !important;
    margin-top: 50px !important;
  }
  #top .header-text .div-dec {
    margin: 32px 0 32px 0px !important;
  }
  #top .header-text p {
    margin: 0 0 30px 0 !important;
  }

  /* JENIS INFROMASI SECTION CONTENT */
  #jenisInformasi .naccs .right-content {
    margin-left: 400px !important;
  }
}

@media (max-width: 576px) {
  /* BREADCUMB SECTION CONTENT */
  .breadcrumb {
    font-size: var(--text-p) !important;
  }
  .breadcrumb hr {
    margin-top: 15px !important;
  }

  /* TITLE DI SETIAP HALAMAN */
  .page-heading h2 {
    font-size: 20px !important;
  }

  /* NAVBAR CONTENT SECTION */
  .sub-menu.tentang,
  .sub-menu.informasi-publik,
  .sub-menu.formulir-permohonan {
    width: 100% !important;
  }

  /* HERO CONTENT SECTION */
  /* HERO CONTENT SECTION */
  #top .header-text h2 {
    font-size: 25px !important;
    line-height: 40px !important;
    margin: 0 !important;
    margin-top: 50px !important;
    transform: translateX(-12px);
  }
  #top .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #top .header-text .div-dec {
    transform: translateX(106px);
  }
  .green-button a {
    background: var(--kuning) !important;
    padding: 10px 20px !important;
    font-size: var(--text-p) !important;
    transform: translateX(74px);
  }

  /* JENIS INFORMAI CONTENT SECTION */
  #jenisInformasi .section-heading {
    margin-top: 20px !important;
  }
  #jenisInformasi .section-heading h4 {
    font-size: var(--text-h2) !important;
  }
  #jenisInformasi .naccs .gradient-border {
    font-size: var(--text-h6) !important;
  }
  #jenisInformasi .naccs .gradient-border:nth-child(2) {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
  }
  #jenisInformasi .left-image {
    display: none !important;
  }
  #jenisInformasi .nacc li {
    width: 100% !important;
    text-align: center;
  }
  #jenisInformasi .right-content {
    width: 100% !important;
    transform: translate(-376px);
  }
  #jenisInformasi .right-content h4 {
    font-size: var(--text-h6) !important;
  }
  #jenisInformasi .naccs .right-content p {
    font-size: var(--text-p) !important;
    line-height: var(--lh-p);
  }
  #jenisInformasi .naccs .right-content span {
    font-size: var(--text-p) !important;
  }
  #jenisInformasi .naccs .right-content a {
    font-size: var(--text-p) !important;
  }

  /* PERMOHONAN SECTION CONTENT */
  #permohonan h4 {
    font-size: var(--text-h2) !important;
  }
  #permohonan .col-lg-3 small {
    font-size: var(--text-h6) !important;
  }

  /* FORMULIR HOME SECTION CONTENT */
  #formulir .accordion-head span {
    font-size: var(--text-h3) !important;
  }
  #formulir .accordion-body p {
    font-size: var(--text-p) !important;
    line-height: var(--lh-p);
  }

  /* QOUTES SECTION CONTENT */
  #qoutes .col-lg-12 {
    font-size: var(--text-h6) !important;
    line-height: var(--lh-xl);
  }
  #qoutes .col-lg-12 small {
    font-size: 0.9em !important;
  }

  /* BERITA UTAMA SECTION CONTENT */
  #beritaUtama .section-heading h4 {
    font-size: var(--text-h2) !important;
  }
  #beritaUtama .content-berita .card {
    border-radius: 10px !important;
  }
  #beritaUtama .content-berita .card .pembungkus {
    border-radius: 10px 10px 0 0 !important;
  }
  #beritaUtama .content-berita .card-title a {
    font-size: var(--text-h5) !important;
    line-height: var(--lh-p);
  }
  #beritaUtama .content-berita .card-text .text-p {
    font-size: var(--text-p) !important;
    line-height: var(--lh-p);
  }
  .btn-lainnya {
    font-size: var(--text-p) !important;
  }

  /* HALAMAN TENTANG PROFIL VISI MISI DLL */
  #tentang h4 {
    font-size: var(--text-h3);
  }
  #tentang p,
  .title-list-informasi .content p {
    font-size: var(--text-p);
    line-height: var(--lh-p);
  }
  #tentang table {
    font-size: var(--text-p) !important;
    line-height: var(--lh-p) !important;
  }

  /* HALAMAN FORMULIR */
  .title-list-informasi .txt-biru {
    font-size: var(--text-h2) !important;
    margin-bottom: 22px;
  }
  .list-informasi {
    margin-top: 0px !important;
  }
  /* STYLE LIST INFORMASI PUBLIK */
  .list-informasi .top-section {
    margin-top: 0px !important;
  }
  .list-informasi .accordions {
    padding: 0 !important;
    margin-top: 35px !important;
  }
  .list-informasi .accordion {
    padding: 10px 20px !important;
  }
  .list-informasi .accordion-head {
    padding: 0px 0px !important;
  }
  .list-informasi .accordion-head span:first-child,
  .list-informasi .accordion-head span:nth-child(2) {
    font-size: var(--text-p) !important;
  }
  .list-informasi .accordion-head span:nth-child(2) {
    padding-top: 8px !important;
  }
  .list-informasi .accordion-body .content {
    margin-top: 13px !important;
  }

  /* HALAMAN SEMUA BERITA */
  .semua-berita .left-image img {
    object-fit: cover;
    width: 100% !important;
    height: 227px !important;
    border-radius: 10px 10px 0 0 !important;
  }
  .semua-berita .right-content {
    padding: 23px 20px 10px 20px !important;
  }
  .semua-berita .right-content h4 {
    font-size: var(--text-h5) !important;
    line-height: var(--lh-lp) !important;
  }
  .semua-berita .right-content .text-muted {
    font-size: var(--text-p) !important;
  }
  .semua-berita .right-content p {
    font-size: var(--text-p) !important;
    line-height: var(--lh-p) !important;
    margin-top: 12px !important;
    margin-bottom: 0 !important;
  }
  .semua-berita .right-content span a {
    display: none;
  }
  .semua-berita .text-search {
    font-size: var(--text-p) !important;
  }

  /* HALAMAN DETAIL BERITA */
  #detailBerita .left-content {
    margin-right: 0px !important;
  }
  #detailBerita .left-content h4 {
    font-size: var(--text-h3) !important;
    line-height: var(--lh-lg) !important;
    margin-top: 30px !important;
  }
  #detailBerita .left-content .text-muted {
    font-size: var(--text-p) !important;
  }
  #detailBerita .left-content .text-body p {
    font-size: var(--text-p) !important;
  }
  .garis-bawah {
    margin-top: -23px !important;
  }

  /* SEBELUM FOOTER */
  #partner .row {
    padding: 0px 10px !important;
  }
  #partner .garis-kuning {
    margin-bottom: 15px;
  }
  #partner p {
    margin-bottom: 7px;
  }

  /* FOOTER SECTION CONTENT */
  #footer .col-lg-12 {
    font-size: var(--text-p) !important;
  }

  /* HAMBURGER MENU MOBILE */
  .menu-trigger {
    /* top: 38px !important; */
    width: 19px !important;
  }

  /* SETTINGAN PAS UPDATE DATA */
  .div {
    font-size: var(--text-p) !important;
    line-height: var(--lh-p) !important;
  }
  .div p {
    margin-bottom: 16px !important;
    font-size: var(--text-p) !important;
  }
}
