:root {
  --kuning: #f4b700;
  --biru: #0e3b63;

  /* mobile font */
  --h1-size: 1.75rem;
  --h2-size: 1.3rem;
}

.page-heading h2 {
  font-size: 2.5rem;
}

#top {
  pointer-events: none;
}

.bg-kuning {
  background-color: var(--kuning) !important;
}
.txt-kuning {
  color: var(--kuning) !important;
}

.bg-biru {
  background-color: var(--biru) !important;
}

.txt-biru {
  color: var(--biru) !important;
}

.active {
  color: var(--kuning) !important;
}

.main-nav ul li a:hover {
  color: var(--kuning) !important;
}

/* nav .nav li.has-sub ul.sub-menu li a {
  color: #F4B700 !important;
} */

nav .nav li:last-child a {
  color: rgba(255, 255, 255, 0.9) !important;
}

nav .nav li:last-child a:hover {
  color: #fff !important;
}

.header-text h2 em {
  color: var(--kuning) !important;
}

.green-button a {
  background: var(--kuning) !important;
}

.sub-menu.tentang {
  width: 196% !important;
}
.sub-menu.informasi-publik {
  width: 155% !important;
}
.sub-menu.formulir-permohonan {
  width: 186% !important;
}

.left-image img {
  object-fit: cover;
}

.jenis-informasi {
  display: block !important;
}

.simple-cta .container .row .col-lg-12 h4 {
  text-align: center !important;
  font-size: var(--h1-size) !important;
  font-weight: normal;
  line-height: 40px;
}

/* qoutes */
#qoutes .container .row .col-lg-12 h4 {
  font-size: 1.2rem !important;
}

@media only screen and (max-width: 768px) {
  /* home cover */
  .header-text h2 {
    font-size: var(--h1-size) !important;
    line-height: 45px !important;
  }

  .right-content h4 {
    font-size: var(--h2-size) !important;
    text-align: center;
  }

  .section-heading h4 {
    font-size: var(--h1-size) !important;
  }

  .simple-cta .container .row .col-lg-12 h4,
  .simple-cta .container .row .col-lg-5 h4 {
    font-size: var(--h1-size) !important;
  }

  .sub-menu.tentang {
    width: 100% !important;
  }
  .sub-menu.informasi-publik {
    width: 100% !important;
  }
  .sub-menu.formulir-permohonan {
    width: 100% !important;
  }

  .jenis-informasi {
    display: none !important;
  }

  .left-image img {
    object-fit: cover;
    height: 260px;
  }

  /* qoutes kominfo */
  #qoutes .container .row .col-lg-12 h4 {
    font-size: 0.9rem !important;
    line-height: 35px;
  }
}
