:root {
  /* VALET COLOR */
  --kuning: #f4b700;
  --biru: #0e3b63;

  /* TYPOGRAPHY */
  --text-h1: 30px !important;
  --text-h2: 23px !important;
  --text-h3: 20px !important;
  --text-h4: 17px !important;
  --text-h5: 15px !important;
  --text-h6: 13px !important;

  --text-p: 13px !important;
  --text-lg: 15px !important;

  --lh-p: 20px !important;
  --lh-lg: 23px !important;
  --lh-xl: 30px !important;
}

/* VARIABEL CLASS STYLE */
.active {
  color: var(--kuning) !important;
}
.bg-kuning {
  background-color: var(--kuning) !important;
}
.txt-kuning {
  color: var(--kuning) !important;
}
.bg-biru {
  background-color: var(--biru) !important;
}
.txt-biru {
  color: var(--biru) !important;
}

/* TITLE DI SETIAP HALAMAN */
.page-heading h2 {
  font-size: 37px !important;
}

/* BREADCUMB SECTION CONTENT */
.breadcrumb hr {
  width: 100% !important;
  margin-top: 10px !important;
}
.breadcrumb {
  font-size: var(--text-lg) !important;
}

/* NAVBAR CONTENT SECTION */
.sub-menu.tentang {
  width: 155px !important;
}
.sub-menu.informasi-publik {
  width: 257px !important;
}
.sub-menu.formulir-permohonan {
  width: 305px !important;
}

/* HERO CONTENT SECTION */
#top {
  pointer-events: none !important;
}
.header-text h2 em {
  color: var(--kuning) !important;
}
#top .header-text p {
  font-size: var(--text-lg) !important;
}
.green-button a {
  background: var(--kuning) !important;
}

/* JENIS INFORMAI CONTENT SECTION */
#jenisInformasi .section-heading {
  margin: 25px !important;
}
#jenisInformasi .section-heading h4 {
  font-size: var(--text-h1) !important;
}
#jenisInformasi .naccs .gradient-border {
  font-size: var(--text-h5) !important;
  margin: 0;
}
#jenisInformasi .naccs .gradient-border:nth-child(2) {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
#jenisInformasi .naccs .right-content {
  padding: 40px 50px 50px 0px !important;
}
#jenisInformasi .naccs .right-content h4 {
  font-size: var(--text-h3) !important;
}
#jenisInformasi .naccs .right-content p {
  font-size: var(--text-lg) !important;
  line-height: var(--lh-lg);
}
#jenisInformasi .naccs .right-content span {
  font-size: var(--text-lg) !important;
}
#jenisInformasi .naccs .right-content a {
  font-size: var(--text-lg) !important;
}
#jenisInformasi .left-image img {
  width: 35% !important;
}

/* PERMOHONAN SECTION CONTENT */
#permohonan h4 {
  font-size: var(--text-h1) !important;
}
#permohonan .col-lg-3 small {
  font-size: var(--text-h5) !important;
}

/* FORMULIR HOME SECTION CONTENT */
#formulir .accordion-head span {
  font-size: var(--text-h2) !important;
}
#formulir .accordion-body p {
  font-size: var(--text-lg) !important;
  line-height: var(--lh-lg);
}
#formulir .accordion-body .sub-formulir {
  border-radius: 2px;
}
#formulir .accordion-body .sub-formulir span {
  font-size: var(--text-h6) !important;
  color: #e3e3e3;
  transition: all 0.4s ease-out;
}
#formulir .accordion-body .sub-formulir:hover span {
  font-size: var(--text-h6) !important;
  color: #fff;
}
#formulir .accordion-body .sub-formulir:hover span:nth-child(2) {
  transform: translateX(10px) !important;
}

/* QOUTES SECTION CONTENT */
#qoutes .col-lg-12 {
  font-size: var(--text-h5) !important;
  line-height: var(--lh-xl);
  color: #fff;
  text-align: center;
}
#qoutes .col-lg-12 small {
  font-size: var(--text-h6) !important;
}

/* BERITA UTAMA SECTION CONTENT */
#beritaUtama .section-heading h4 {
  font-size: var(--text-h1) !important;
}
.pembungkus {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 62.5%;
}
.responsive-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.4s ease;
}
.responsive-element:hover {
  transform: scale(1.1);
  opacity: 0.5;
  filter: brightness(0.8);
}
#beritaUtama .content-berita .card-title a {
  font-size: var(--text-h4) !important;
  line-height: var(--lh-p);
  color: #000;
}
#beritaUtama .content-berita .card-title a:hover {
  text-decoration: underline !important;
}
#beritaUtama .content-berita .card-body .text-muted {
  font-size: var(--text-p) !important;
}
#beritaUtama .content-berita .card-text .text-p {
  font-size: var(--text-lg) !important;
  line-height: var(--lh-p);
  margin-top: 7px !important;
}

/* HALAMAN FORMULIR */
.title-list-informasi .txt-biru {
  font-size: var(--text-h2) !important;
  margin-bottom: 22px;
}
.list-informasi {
  margin-top: 0px !important;
}
.list-informasi .top-section {
  margin-top: 30px !important;
}
.list-informasi .accordions {
  padding: 0 !important;
}
.list-informasi .accordion {
  padding: 15px 30px !important;
  line-height: var(--lh-lg) !important;
}
.list-informasi .accordion-head {
  padding: 0px 0px !important;
}
.list-informasi .accordion-head span:first-child,
.list-informasi .accordion-head span:nth-child(2) {
  font-size: var(--text-lg) !important;
}
.list-informasi .accordion-body .content {
  margin-top: 13px !important;
}

/* HALAMAN SEMUA BERITA */
.semua-berita .naccs .col {
  margin-top: -30px !important;
  margin-bottom: 15px !important;
}
.semua-berita .left-image img {
  object-fit: cover;
  height: 100%;
  width: 400px !important;
  cursor: pointer;
}

.semua-berita .right-content h4 {
  font-size: var(--text-h3) !important;
  line-height: var(--lh-lg) !important;
  margin-bottom: 10px !important;
  margin-right: 0 !important;
  cursor: pointer;
  margin-bottom: 0px !important;
}
.semua-berita .right-content h4:hover {
  text-decoration: underline;
}
.semua-berita .right-content .text-muted {
  font-size: var(--text-p) !important;
  margin-top: 10px !important;
}
.semua-berita .right-content p {
  font-size: var(--text-lg) !important;
  line-height: var(--lh-lg) !important;
  margin-top: 20px !important;
}
.semua-berita .right-content span a,
#detailBerita .left-content .text-body p {
  font-size: var(--text-lg) !important;
  line-height: var(--lh-lg) !important;
}

/* HALAMAN DETAIL BERITA */
#detailBerita .left-content {
  margin-right: 55px !important;
}
#detailBerita .left-content h4 {
  font-size: var(--text-h3) !important;
  line-height: var(--lh-lg) !important;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}
#detailBerita .left-content .text-muted {
  font-size: var(--text-p) !important;
  margin-bottom: 20px !important;
}
#detailBerita .left-content hr {
  margin-top: 26px !important;
  margin-bottom: 24px !important;
}
.garis-bawah {
  margin-top: 45px !important;
}
#detailBerita .pembungkus {
  border-radius: 10px;
}

/* SEBELUM FOOTER */
#partner {
  padding: 40px 0 !important;
}
#partner h6 {
  font-size: var(--text-p) !important;
  margin-bottom: 13px;
}
#partner .garis-kuning {
  width: 100%;
  height: 2px;
  background: var(--kuning);
  margin-bottom: 25px;
}
#partner p {
  color: #fff;
  opacity: 0.9;
  font-size: 0.75em !important;
  line-height: var(--lh-p) !important;
}

/* FOOTER SECTION CONTENT */
#footer .col-lg-12 p {
  font-size: var(--text-p) !important;
  opacity: 0.75;
}

/* SETTINGAN PAS UPDATE DATA */
.div {
  font-size: var(--text-lg) !important;
  line-height: var(--lh-lg) !important;
}
.div p {
  margin-bottom: 16px !important;
  font-size: var(--text-lg) !important;
}
.div ol li {
  list-style: decimal;
  padding-left: 3px;
  margin-left: 26px;
}
.div ul li {
  list-style: disc;
  padding-left: 3px;
  margin-left: 26px;
}
.div ol li:last-child {
  margin-bottom: 12px;
}
.div ul li:last-child {
  margin-bottom: 12px;
}
.div h1,
.div h2,
.div h3,
.div h4,
.div h5,
.div h6 {
  margin-bottom: 8px !important;
  font-weight: bold !important;
}
